<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abeiro.videolink" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>videolink</name>
    <description>
        get videolinks from webpages 
    </description>
    <author email="augusto.beiro@gmail.com" >
        Augusto Beiro
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
